@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Adresa:</strong><br/>
    Piaţa Victoriei Nr. 2,<br/>
    300006 Timişoara, jud. Timiş, România
</address>

<adress>
   <strong> telefon:</strong>  0256-403000<br/>
    <strong>fax: </strong>     0256-403021
</adress>

<address>
    <strong>e-mail</strong>   <a href="mailto:ac.is@upt.com">ac.is@upt.com</a><br />
</address>